* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, sans-serif;
}

body {
    position: relative;
    background-color: #144876;
    min-height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont,
        'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
        'Open Sans', 'Helvetica Neue', sans-serif;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    background-image: url("../images/logos.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 65%;
    opacity: 0.1;
    z-index: -1;
    pointer-events: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #144876;
    color: #fff;
    padding: 12px 25px;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);

    border-bottom: 5px solid #F8E431;
}

.nav-left,
.nav-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav-left img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

.nav-right img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
}

.nav-text {
    display: flex;
    flex-direction: column;
    line-height: 1.2;

}

.nav-left span {
    font-weight: bold;
    font-size: 21px;
}

.nav-left p {
    font-size: 15px;
    color: #fff;
}

.nav-right span {
    font-weight: 600;
    width: auto;
    max-width: 100px;
}

.logout {
    background: #fff;
    color: #000;
    border: 1px solid #B4B4B4;
    padding: 6px 14px;
    font-weight: 700;
    border-radius: 7px;
    cursor: pointer;

    display: flex;
    align-items: center;
    gap: 15px;
}

.logout:hover {
    background: #ddd;
}

/* DASHBOARD */
.dashboard {
    padding-top: 40px;
    padding-left: 70px;
    padding-right: 70px;
}

/* STATS */
.stats {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    margin-bottom: 50px;
}

.stat-card-1 {
    background: #082A48;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.15);
    height: 195px;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    color: #fff;
}

.stat-card-2 {
    background: #026C2F;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.15);
    height: 195px;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    color: #fff;
}

.stat-card-3 {
    background: #C81B20;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.15);
    height: 195px;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    color: #fff;
}

.stat-card-1:hover {
    transform: scale(1.04);
    box-shadow: 0 10px 25px rgba(0,0,0,0.25);
}

.stat-card-2:hover {
    transform: scale(1.04);
    box-shadow: 0 10px 25px rgba(0,0,0,0.25);
}

.stat-card-3:hover {
    transform: scale(1.04);
    box-shadow: 0 10px 25px rgba(0,0,0,0.25);
}

.stat-card-1 h3 {
    margin-bottom: 45px;
}

.stat-card-2 h3 {
    margin-bottom: 45px;
}

.stat-card-3 h3 {
    margin-bottom: 45px;
}

.stat-card-1 p {
    font-size: 64px;
    font-weight: bold;
}

.stat-card-2 p {
    font-size: 64px;
    font-weight: bold;
}

.stat-card-3 p {
    font-size: 64px;
    font-weight: bold;
}

/* ACTIONS */
.actions {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
}

.actions-card-1 {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-start; 
    background: #fff;
    padding: 30px;
    text-align: left;
    font-weight: 700;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0 6px 15px rgba(0,0,0,0.15);
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    height: 110px;
    font-size: 20px;
    text-decoration: none;
    color: #000;

    border-left: 6px solid #F8E431; 
}

.actions-card-1 img {
    position: absolute;
    right: -1px;
    bottom: 20px; /* or top: 20px if you want */
    width: 48px;
    height: auto;
    opacity: 1;
    pointer-events: none;
}

.actions-card-1 p {
    margin-top: auto;
    font-weight: 400;
    font-size: 15px;
    color: #808080;
}

.actions-card-1:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.25);
}

.actions-card-2 {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-start; 
    background: #fff;
    padding: 30px;
    text-align: left;
    font-weight: 700;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0 6px 15px rgba(0,0,0,0.15);
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    height: 110px;
    font-size: 20px;
    text-decoration: none;
    color: #000;

    border-left: 6px solid #F8E431; 
}

.actions-card-2 img {
    position: absolute;
    right: -1px;
    bottom: 20px; /* or top: 20px if you want */
    width: 48px;
    height: auto;
    opacity: 1;
    pointer-events: none;
}

.actions-card-2 p {
    margin-top: auto;
    font-weight: 400;
    font-size: 15px;
    color: #808080;
}

.actions-card-2:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.25);
}

.actions-card-3 {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-start; 
    background: #fff;
    padding: 30px;
    text-align: left;
    font-weight: 700;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0 6px 15px rgba(0,0,0,0.15);
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    height: 110px;
    font-size: 20px;
    text-decoration: none;
    color: #000;

    border-left: 6px solid #F8E431; 
}

.actions-card-3 img {
    position: absolute;
    right: -1px;
    bottom: 20px; /* or top: 20px if you want */
    width: 48px;
    height: auto;
    opacity: 1;
    pointer-events: none;
}

.actions-card-3 p {
    margin-top: auto;
    font-weight: 400;
    font-size: 15px;
    color: #808080;
}

.actions-card-3:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.25);
}

.actions-card-4 {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-start; 
    background: #fff;
    padding: 30px;
    text-align: left;
    font-weight: 700;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0 6px 15px rgba(0,0,0,0.15);
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    height: 110px;
    font-size: 20px;
    text-decoration: none;
    color: #000;

    border-left: 6px solid #F8E431; 
}

.actions-card-4 p {
    margin-top: auto;
    font-weight: 400;
    font-size: 15px;
    color: #808080;
}

.actions-card-4:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.25);
}

.action-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    background: #fff;
    padding: 30px;
    text-align: left;
    font-weight: 700;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0 6px 15px rgba(0,0,0,0.15);
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    height: 110px;
    font-size: 20px;
    text-decoration: none;
    color: #000;
}

.action-card p {
    margin-top: auto;
    font-weight: 400;
    font-size: 15px;
    color: #808080;
}

.action-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.25);
}

.toast {
    position: fixed;
    top: 20px;  
    right: 20px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.2);
    display: none; 
    z-index: 9999;
    width: 250px;
    text-align: center;
    font-weight: 600;
}

.toast.show {
    opacity: 1;
    transform: translateX(0);
}

.toast p {
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 14px;
    color: #333;
}

.toast-buttons {
    display: flex;
    justify-content: space-between;
}

.toast-buttons button {
    padding: 6px 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
}

#confirm-logout {
    background: #000;
    color: #fff;
}

#confirm-logout:hover {
    background: #222;
}

#cancel-logout {
    background: #ddd;
    color: #000;
}

#cancel-logout:hover {
    background: #bbb;
}
