* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
}

/* MAIN CONTAINER */
.container {
    display: flex;
    height: 100vh;
}

/* LEFT SIDE */
.left-panel {
    flex: 1;
    background: #0b3d91; /* Navy blue */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding: 40px;
    
}

#tagline {
    font-size: 24px;
    font-weight: bold;
    opacity: 1;
    transition: opacity 0.5s ease;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid white; /* typing cursor */
    width: fit-content;
}


/* RIGHT SIDE */
.right-panel {
    flex: 1;
    background: #f4f6f9;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* LOGIN CARD */
.auth-box {
    background: #ffffff;
    padding: 40px 30px;
    border-radius: 12px;
    width: 350px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

/* TITLE */
.auth-box h2 {
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
}

.subtitle {
    font-size: 14px;
    color: #777;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
}

/* INPUT */
.input-group label {
    font-size: 13px;
    font-weight: 600;
}

.auth-box input {
    width: 100%;
    padding: 10px;
    margin: 8px 0 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
    transition: 0.2s;
}

.auth-box input:focus {
    border-color: #0b3d91;
    outline: none;
    box-shadow: 0 0 0 2px rgba(11,61,145,0.2);
}

/* BUTTON */
.auth-box button {
    width: 100%;
    padding: 12px;
    background: #0b3d91;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s;
}

.auth-box button:hover {
    background: #092c6a;
}

/* ERROR */
.error {
    color: red;
    margin-top: 10px;
    font-size: 13px;
    text-align: center;
}
.card-logo {
    display: block;
    width: 70px;
    margin: 0 auto 15px;
}

.authorized-p{
    font-size: 16px;
    font-weight: 600;
    color: #777;
    margin-top: 18px;
    display: flex;
    justify-content: center;
}