* {
    box-sizing: border-box;
}

.auth-body {
    margin: 0;
    height: 100vh;

    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #fff; 
}

/*image with opacity*/
.auth-body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-image: url("../images/logo.png");
    background-repeat: no-repeat;

    
    background-position: left -245px center;

    background-size: 65% 110%;

    opacity: 0.55; 
    z-index: 0; 
}


.auth-box {
    position: relative; 
    z-index: 1;

    background: white;
    padding: 30px;
    width: 320px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.25);
}

.auth-box input {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
}

.auth-box button {
    width: 100%;
    padding: 10px;
    background: #2c7be5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
